* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D0C0E;
    font-family: Montserrat, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 1600px;
}

.nav {
    padding: 30px;
}

.nav .container .items {
    color: #fff;
    display: flex;
    gap: 4rem;
}

.nav .container .items .item {
    display: flex;
    align-items: center;
    gap: .78rem;
    font-size: 17px;
    cursor: pointer;
    transition: color .2s ease-in-out;

    i {
        font-size: 15px;
    }
}

.nav .container .items .item:hover {
    color: #d4d4d4;
}

.nav-left {
    display: flex;
    gap: 7.5rem;
}

#nav-logo {
    width: 200px;
}

.nav-right .items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem!important;
}

.nav-right button {
    background: rgb(0, 255, 234);
    background: linear-gradient(90deg, rgba(0, 255, 234, 1) 0%, rgba(0, 178, 255, 1) 100%);
    border: 4px solid transparent;
    font-size: 17px;
    font-family: Syne, sans-serif;
    font-weight: 700;
    padding: 8px 25px;
    border-radius: 30px;
    background-clip: padding-box;
    transition: border .3s ease-in-out;
}

.nav-right button:hover {
    border: solid 4px rgba(99, 226, 255, 0.4);
}