* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
}

.nav {
    padding: 30px;
    display: flex;
    align-items: center;
}

.nav .container .items {
    color: #22262A;
    display: flex;
    gap: 2rem;
}

.nav .container .items .item {
    display: flex;
    align-items: center;
    gap: .7rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: color .2s ease-in-out;

    i {
        font-size: .8rem;
    }
}

.nav .container .items .item:hover {
    color: #5e5e5e;
}

.nav-left {
    display: flex;
    gap: 5rem;
}

#nav-logo {
    width: 180px;
}

.nav-right .items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem!important;
}

.nav-right button {
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 25px;
    border-radius: 30px;
    color: fff;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    height: calc(100vh - 208px);

    h1 {
        text-align: center;
        font-size: 3.2rem;
        width: 50%;
        font-weight: 600;
        font-family: 'Lexend Deca', sans-serif;
        color: #22262A;

        span {
            color: #00B2FF;
            font-weight: 700;
        }
    }

    p {
        text-align: center;
        width: 45%;
        font-size: 1.3rem;
        color: #919191 ;

        span {
            font-style: italic;
        }
    }
}