* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
}

.nav {
    padding: 30px;
    display: flex;
    align-items: center;
}

.nav .container .items {
    color: #22262A;
    display: flex;
    gap: 2rem;
}

.nav .container .items .item {
    display: flex;
    align-items: center;
    gap: .7rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: color .2s ease-in-out;

    i {
        font-size: .8rem;
    }
}

.nav .container .items .item:hover {
    color: #5e5e5e;
}

.nav-left {
    display: flex;
    gap: 5rem;
}

#nav-logo {
    width: 180px;
}

.nav-right .items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem !important;
}

.nav-right button {
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 25px;
    border-radius: 30px;
    color: fff;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    height: calc(100vh - 208px);

    h1 {
        text-align: center;
        font-size: 3.2rem;
        width: 50%;
        font-weight: 600;
        font-family: 'Lexend Deca', sans-serif;
        color: #22262A;

        span {
            color: #00B2FF;
            font-weight: 700;
        }
    }

    p {
        text-align: center;
        width: 45%;
        font-size: 1.3rem;
        color: #919191;

        span {
            font-style: italic;
        }
    }
}

.main-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;

    button {
        padding: 20px 40px;
        font-size: 1.1rem;
    }
}

.services {
    background-image: url("../assets/background.svg");
    background-color: #22262A;
    transform: skew(0deg, 1deg);
    margin-top: 30px;
    height: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .description {
        transform: skew(0deg, -1deg);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        h1 {
            color: #fff;
            font-size: 3.6rem;
            width: 50%;
        }

        p {
            color: #919191;
            font-size: 1.2rem;
            width: 50%;
        }
    }
}

.services-section {
    transform: skew(0deg, -1deg);

    h3 {
        color: #d4d4d4;
        text-transform: uppercase;
        text-align: center;
        margin-top: 150px;
        margin-bottom: 30px;
        letter-spacing: 3px;
        word-spacing: 5px;
        font-size: .8rem;
        font-weight: 300;
    }

    .services-items {
        display: flex;
        gap: 1.5rem;

        .services-item {
            border-radius: 15px;
            background-color: #24282C;
            border: solid 1px #66768533;
            color: #f3f3f3;
            text-align: center;
            padding: 15px;
            transition: all .3s ease-in-out;

            h4 {
                font-size: 1.3rem;
                padding-bottom: 20px;
                font-weight: 500;
            }

            img {
                width: 225px;
                transition: all .3s ease-in-out;
            }
        }

        .services-item:hover {
            transform: scale(1.1);
            z-index: 10;
        }
    }
}